<div class="container">
  <%= simple_form_for(@event) do |f| %>
    <div class="form-inputs mt-3 offset-3 col-6">
      <h2>Create your event:</h2>
    <%= f.input :title %>
    <%= f.input :description, label: 'Information about your menu:' %>
    <%= f.input :calendar, label: 'Date:', as: :datetime %>
    <%= f.input :address %>
    <%= f.input :type_of_event, collection: ['Breakfast', 'Lunch', 'Dinner'] %>
    <%= f.input :type_of_meal, label: 'Type of cuisine', collection: ['Italian', 'Indian', 'Japanese'] %>
    <%= f.input :limit_of_guest, label: 'Maximum of guests:' %>
    <%= f.input :price, label: 'Price per person:' %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit 'Create an Event', class: 'btn btn-primary btn-block' %>
  <% end %>
  </div>
</div>
