
<div class="container">
  <%= simple_form_for(@event) do |f| %>
    <%= f.input :title %>
    <%= f.input :description, label: 'Information about your menu:' %>
    <%= f.input :calendar, label: 'Date:', as: :datetime %>
    <%= f.input :address %>
    <%= f.input :type_of_event %>
    <%= f.input :type_of_meal, label: 'Type of cuisine' %>
    <%= f.input :limit_of_guest %>
    <%= f.submit 'Create an Event', class: 'btn btn-primary' %>
  <% end %>
<%= link_to "Back to menu", root_path %>
</div>
