<div class="container">
  <div class="banner_show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1549047825-a81dc3f57c7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=639&q=80);">
    <div class="container">
      <h1><%= @event.title %></h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="d-flex">
     <div class="information mt-4 w-75">
        <h4><span style="color:red"><i class="fas fa-map-marker-alt"></i></span> Address: <%= @event.address %></h4>
        <p><i class="far fa-calendar-alt"></i> Date: <%= @event.calendar.day %> / <%= @event.calendar.month %> / <%= @event.calendar.year %></p>
        <p><i class="far fa-clock"></i> Time: <%= @event.calendar.hour %>h<%= @event.calendar.strftime("%M") %></p>
        <div class="row">
          <div class="col-4">
            <i class="fas fa-utensils"></i> Type of event: <%= @event.type_of_event %>
          </div>
          <div class="col-4">
            <i class="fas fa-seedling"></i> Cuisine type: <%= @event.type_of_meal %>
          </div>
          <div class="col-4">
            <i class="fas fa-users"></i> Numbers of guests: <%= @event.limit_of_guest %>
          </div>
        </div>
        <div class="mt-3">
          <strong>A word about the experience:</strong>
        </div>
        <p><%= @event.description %></p>
      <%= link_to "Back to menu", root_path, class: 'btn btn-primary' %>
      <%= link_to "Edit this event", edit_event_path, class: 'btn btn-primary' %>
      <%= link_to "Delete", event_path(@event), method: :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-primary' %>
    </div>
    <div class="booking-form bg-white p-3 mt-4 w-25">
      <h2>Book this event:</h2>
      <p>$<%= @event.price %><span style="color:grey; font-size:13px"> Price per guest</span></p>
      <%= simple_form_for [@event, @booking] do |f| %>
        <%= f.input :number_of_guests, label: 'Number of guests:', collection: (1..@event.limit_of_guest), label_method: -> (obj) { "#{obj} guests" } %>
        <%= f.submit "BOOK NOW", class: "btn btn-flat btn btn-block" %>
        <% end %>
      </div>
    </div>
    <p><%= @event.description %></p>
  </div>

  <%= link_to "Back to menu", root_path, class: 'btn btn-primary' %>
  <%= link_to "Edit this event", edit_event_path, class: 'btn btn-primary' %>
  <%= link_to "Delete", event_path(@event), method: :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-primary' %>
</div>
</div>

<!-- Booking form -->

<div class="container">
  <%= simple_form_for [@event, @booking] do |f| %>
    <div class="form-inputs mt-3 offset-3 col-6">
      <h2>Book your event:</h2>
    <%= f.input :number_of_guests %>
    <%= f.submit 'Book now', class: 'btn btn-primary btn-block' %>
  <% end %>
  </div>
</div>

