
<!-- Banner & Search -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1530541873326-1e70f0e1502b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
  <div class="searchFormContainer">
    <h1>Book unforgettable <span style="color:#20b286">vegan</span> experiences!</h1>
    <p>Join experiences with the main plant based chefs around.</p>
  </div>
  <div class="form-home">
	   <%= form_tag events_path, class: "form-search",  method: :get do %>
       <%= text_field_tag :query,
           params[:address],
          class: "form-control search-input",
          placeholder: "Look for your vegan experiences"  %>
        <%= submit_tag "Search", class: "btn btn-primary btn-search" %>
      <% end %>
	    </div>
	  </div>
	</form>
	</div>
</div>

<h2 class="title-home">Discover delicious vegan events near you</h2>

<!-- Card Products -->
<div class="container events_index">
  <div class="row">
  <% @events.each do |event| %>
    <div class="col-4">
      <div class="card ml-5 mb-5" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1528712306091-ed0763094c98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top">
      <div class="price">$ <%= event.price %></div>
      <div class="card-body">
        <h5 class="card-title"><%= event.type_of_event %> - <%= event.type_of_meal %></h5>
        <p class="card-text"><%= event.title %></p>
        <%= link_to "More details", event, class: "btn btn-flat btn-details" %>
      </div>
      </div>
    </div>
  <% end %>
</div>


<h2 class="title-home">How it works</h2>

<!-- How it works -->
<div class="DashboardContainer">
  <div class="Grid row">
    <div>
      <img src="" alt="">
      <h2 class="subtitle">Discover</h2>
      <p>Explore thousands of delicious food experiences around the world. Once you have chosen your destination, find the social eating experience that is right for you. Need some inspiration? How about a cheese and wine tasting dinner in a beautiful Parisian home, learning to make homemade pasta with a local in Rome, a supper club in a magical garden in London, or enjoying a feast of tapas on a Barcelona rooftop? We’re sure you’ll find the perfect food experience and that you'll will be back for seconds!</p>
    </div>
    <div>
      <img src="" alt="">
      <h2 class="subtitle">Book</h2>
      <p>Once you’ve made your choice, you simply need to select the dates you are available and click “Request to book”. Your host will receive a notification and get back to you as soon as possible. Don’t worry, you won’t be charged until your host accepts the request and you can cancel the request at any time.</p>
    </div>
    <div>
      <img src="" alt="">
      <h2 class="subtitle">Share</h2>
      <p>It’s time to enjoy your Eatgreen experience! Your selected host is waiting to meet you and share their food story with you. Discover a new culture from the inside and enjoy an authentic experience… Made even better with great company and delicious food.
      Afterwards, we encourage you to share the experience on social media with #Eatgreen so more people can discover their own local food events too!</p>
    </div>
  </div>
</div>

